<table class="main-table table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genres</th>
            <th>Form</th>
            <th data-controller="order">Tempo
                <a data-action="click->order#order"
                   data-order="desc"
                   class="standards-table-order"
                   href="#">
                    <i class="bi-arrow-down-circle"></i>
                </a>
                <a data-action="click->order#order"
                   data-order="asc"
                   class="standards-table-order"
                   href="#">
                    <i class="bi-arrow-up-circle"></i>
                </a>
            </th>
            <th>Play along</th>
            <th>Tabs</th>
        </tr>
    </thead>
    <tbody>
        {% for standard in standards %}
            <tr data-tempo="{{ standard.tempo }}"
                data-range="{{ calculate_range(standard, ranges)|lower }}"
                data-genres="{{ standard.genres|join(',')|lower }}"
                data-name="{{ standard.name|lower }}"
            >
                <td>{{ standard.name }}
                    <a class="info-link" href="#" data-bs-toggle="modal" data-bs-target="{{ "#modal" ~ standard.id }}">
                        <i class="bi-info-circle"></i>
                    </a>
                </td>
                <td>{{ standard.genres|join(' / ') }}</td>
                <td>{{ standard.form }}</td>
                <td>{{ standard.tempo }}</td>
                <td>
                    <a class="spotify-track" target="_blank" href="{{ standard.track }}">
                        <i class="bi-spotify"></i>
                    </a>
                </td>
                <td>
                    <a class="tab-link" href="{{ tab_href(standard.name) }}" target="_blank">
                        <i class="bi-music-note-beamed"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>