{% for standard in standards %}
    <div class="modal fade"
         id="{{ "modal" ~ standard.id }}"
         tabindex="-1"
         aria-labelledby="{{ "modal" ~ standard.id ~ "Label"}}"
         aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="{{ "modal" ~ standard.id ~ "Label"}}">
                        {{ standard.name }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h6>Authors</h6>
                    <p>{{ standard.authors|join(', ') }}</p>
                    <h6>Genres</h6>
                    <p>{{ standard.genres|join(' / ') }}</p>
                    <h6>Interpreter</h6>
                    <p>{{ standard.interpreter }}</p>
                    <h6>Tempo</h6>
                    <p>{{ standard.tempo }}</p>
                    <h6>Range</h6>
                    <p>{{ calculate_range(standard, ranges) }}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
{% endfor %}